extends layout

block styleSheets
  link(rel='stylesheet', href='/stylesheets/sliders.css')
  link(rel='stylesheet', href='/stylesheets/musicPlayingTimeGrid.css')
  link(rel='stylesheet', href='/stylesheets/song.css')

block pageScripts
  script(src="/js/socket.io.js")
  script(src="/js/handlebars.js")
  script(src="/js/typeahead.bundle.js")
  script(src="/js/soundcloud.js")
  script(src="/js/musicPlayingTimeGrid.js")
  script(src="/js/hub.js")
  script.suggestionTemplate(type="text/x-handlebars")
    div.songContainer
      div.queueNumber
        button.addSong(data-track-id="{{trackId}}") +
      img.queueAlbum(src="{{albumArtworkUrl}}")
      p.songTitle {{title}} - {{artist}}
  script.songTemplate(type="text/x-handlebars")
    div.songContainer
      div.queueNumber {{queueNumber}}
      img.queueAlbum(src="{{albumArtworkUrl}}")
      p.upVotes {{upvoteCount}}
      img.thumbUp(src="/resources/images/thumbUp.svg")
      p.songTitle {{title}} - {{artist}}
      p.downVotes {{downvoteCount}}
      img.thumbDown(src="/resources/images/thumbDown.svg")
      img.deleteButton(src="/resources/images/deleteButton.svg")


block content
  h1= title
  p Party On, Party People.

  img.adminBtn#playButton(src="/resources/images/playButton.svg")
  img.adminBtn#skipButton(src="/resources/images/skipButton.svg")

  div#mainPlayer
    img.playerAlbum(src="/resources/images/chance.jpg")
    table#musicPlayingTimeGrid
      tr
        td#startTime
        td#track
          div#progressed
          div#remaining
        td#endTime

  div#queueContainer

  div#requestContainer
    input.newSong(style="width: 100%;" type="text")
