extends layout

block pageScripts
  script(src="/js/socket.io.js")
  script(src="/js/spotify.js")
  script(src="/js/handlebars.js")
  script(src="/js/typeahead.bundle.js")
  script(src="/js/soundcloud.js")
  script(src="/js/hub.js")

block content
  h1= title
  p Party On, Party People.

  ul.playlist
  input.newSong(type="text")
  button.submit(type= "submit")
