extends layout

block styleSheets
  link(rel='stylesheet', href='/stylesheets/joinParty.css')

block pageScripts
  script(src="/js/joinParty.js")


block content
  div#holder
    h1
    div#foundParty

    div
      h2
      form
        input(type='text')
        input(type='submit')