extends layout

block styleSheets
  link(rel='stylesheet', href='/stylesheets/joinParty.css')

block pageScripts
  script(src="/js/joinParty.js")


block content
  div#holder
    h1
    div#foundParty
      ul
        li Kevin's Rager
        li 2200 Marilyn Street
    div
      h2
      form
        input(type='text')
        input(type='submit')