extends layout

block content

	div.landingContain

		div.landingBrand
			p#landingParty Party
			p Hub

	a(href="/joinParty")
		button#joinBtn.flat-button.flat-button-1(type="button", onclick="") Join a Party
	a(href="/makeParty")
		button#startBtn.flat-button.flat-button-1(type="button", onclick="") Start a Party
