doctype html
html
  head
    title Party Hub | #{title}
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/sliders.css')
    link(rel='icon', href='/resources/images/icon.svg')
    block styleSheets

    script(src='/js/jquery_2.1.0.js')
    script(src='/js/jquery_ui_1.10.4.min.js')
    script(src="/js/constants.js")
    script(src="/js/main.js")
    block pageScripts
  body
    div#popupCover
    div#popup
    div.navbar
      a#brand(href="/")
        p#brand-party Party
        p Hub
      div.nav-user
        span#login login
        div.divider
        span#signup signup
    block content
    div.bottom
      a(href="http://soundcloud.com")
        img(src="/resources/images/powered_by_white.png")