extends layout

block pageScripts
  script(src='/js/sliders.js')
  script(src="/js/socket.io.js")
  script(src="/js/spotify.js")
  script(src="/js/party.js")

block content
  div.sliderPane#musicPane
  div.sliderPane#picturePane
  div.sliderToggle#pictureSlider
  div.sliderToggle#musicSlider

  div#mainPlayer
    img.playerAlbum(src="/resources/images/chance.jpg")

  div#queueContainer
    div.songContainer
      div.queueNumber 1
      img.queueAlbum(src="/resources/images/chance.jpg")
      p.upVotes 10
      img.thumbUp(src="/resources/images/thumbUp.svg")
      p.songTitle Disclosure - Latch
      p.downVotes 0
      img.thumbDown(src="/resources/images/thumbDown.svg")
