
#holder {
	padding: 7%;
}

#foundParty, h1, h2, input {
	display: none;
}


#foundParty {
	margin: 0 auto;
	list-style: none;
}

#foundParty li {
	padding: 0.3em;
	color: #de6143;
	text-shadow: 0.05em 0.05em 0.2em black;
} 

h1 {
	font-size: 1.7em;
	margin: 1.5em 0 1em 0;
}

h2 {
	font-size: 1em;
	margin: 4em 0 1em 0;
}

input[type='submit'] {
	margin: 0.2em;
	padding: 0.3em;
	background-color: #de6143;
}

input[type='text'] {
	padding: 0.3em;
}