
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Montserrat|Oswald')

/*
 * Store the main color and
 * background color as variables
 */
light-back-color = #818590
mid-back-color = #5a5e6a
dark-back-color = #383b42
main-red = #de6143
main-white = #e5e8ef

collapse-height = 50px

.centerContainer
    text-align center

/** main content container **/
contentCollapser
    width 70%
    height collapse-height
    text-align center
    position relative

/** content header **/
h2
    color darken(main-red, 50%)
    background main-red
    font-size (collapse-height * 0.7)
    margin-left auto
    margin-right auto
    cursor pointer
    width 60%
    min-width 385px
    border 0

#contentCollapser div h2:hover {
    background-color #dc5636
}

/** content header selected **/
#contentCollapser div h2.selected {
}

#contentCollapser div h2.selected:hover {
    background-color #dc5636
}

/** content body **/
#contentCollapser div p {
    color: black;
    text-align: justify;
    opacity: 1;
    margin: 0;
    display: none;
}


/** Turn Arrow **/
#contentCollapser div h2 span, #contentCollapser div h2 img {
    display: inline-block;
    padding: 0.2em 0.5em;
}

#contentCollapser div h2 span {
    width: 100%;
    line-height: 60px;
 }

#contentCollapser div h2 img {
    width (collapse-height * 0.8)
    position: relative;
    margin (collapse-height * 0.1)
    margin-right 20px
    float right

    /* Firefox */
    -moz-transform:rotate(180deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(180deg);
    /* Opera */
    -o-transform:rotate(180deg);
    /* IE9 */
    -ms-transform:rotate(180deg);
    /* IE6,IE7 */
}

/** css for when a tab is open **/
img.isOpen {
}

.collContent
    // padding 20px
    padding-left 0
    padding-right 0
    background-color darken(light-back-color, 10%)
    width 60%
    min-width 385px
    margin-left auto
    margin-right auto
    position relative

.unitGuy
    margin 20px

.infoLabel
    position absolute
    right 70%
    margin 10px

.infoForm
    width 40%
    margin 5px