
#musicPlayingTimeGrid {
    width: 30em;
    height: 3em;
    margin: 20em auto;
    background: black;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#track {
    width: 80%;
    background: #312c2c;
}


#startTime, #endTime {
    width: 5%;
    padding: 0.5em;
}

#progressed, #remaining {
    height: 0.4em;
    display: inline-block;
    white-space: nowrap;
}

#progressed {
    width: 45%;
    background-color: #bababa;
    border-radius: 50% 0 0 50%;
}

#remaining {
    width: 45%;
    background-color: #de6143;
    border-radius: 0 50% 50% 0;
}