
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Montserrat|Oswald')

/*
 * Store the main color and
 * background color as variables
 */
light-back-color = #818590
mid-back-color = #5a5e6a
dark-back-color = #383b42
main-red = #de6143
main-white = #e5e8ef

song-height = 50px
player-height = 150px

.centerContainer
    text-align center

/*  Main Player Style */
#mainPlayer
    background-color mid-back-color
    width 90%
    max-width 1000px
    min-width 400px
    height player-height
    margin 50px
    margin-left:auto;
    margin-right:auto;
    border-style:solid;
    border-bottom:3px solid dark-back-color;
    display block
    position relative
    padding 0.5px
    overflow hidden

.rightPlayer
    margin-left player-height

.playerAlbum
    height player-height
    position absolute
    left 0px;
    display inline
    float left


/*  Queue Song Style */
.songContainer
    background-color mid-back-color
    width 80%
    min-width 400px
    height song-height
    margin 30px
    margin-left:auto;
    margin-right:auto;
    border-style:solid;
    border-bottom:3px solid dark-back-color;
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    position relative

.queueNumber
    background-color dark-back-color
    height song-height
    width song-height
    color main-white
    text-align center
    line-height song-height
    display inline
    float left

.queueAlbum
    height song-height
    display inline
    float left

.upVotes
    display inline
    float left
    font-size (song-height * 0.5)
    margin (song-height*0.25) (song-height/6) (song-height*0.25) (song-height/3)

.thumbUp
    height song-height * (0.8)
    margin song-height * (0.1)
    display inline
    float left

.songTitle
    font-size (song-height * 0.4)
    margin (song-height*0.3) (song-height/3)
    display inline-block
    float left

.thumbDown
    height song-height * (0.8)
    margin song-height * (0.1)
    display inline
    float right

.deleteButton
    height song-height * (0.8)
    margin song-height * (0.1)
    margin-left 20px
    display inline
    float right

.downVotes
    display inline
    float right
    font-size (song-height * 0.5)
    margin (song-height*0.25) (song-height/3) (song-height*0.25) (song-height/6)

.twitter-typeahead
    position absolute
    width 80%
    text-align center

.newSong
    position absolute
    width 80%
    margin-left auto
    margin-right auto
    left inherit

// mainPlayer Style
.rightPlayer > p
    color main-white
    margin 20px

.tt-dropdown-menu
    margin-left auto
    margin-right auto

.tt-dropdown-menu > .songContainer
    margin-right none
    margin-left none

.addSong
    height 100%

.songTitleDiv
    text-overflow: ellipsis;
    width: 65%;
    white-space: nowrap;
    overflow: hidden;

.addSong
  background dark-back-color
  background-image url("/resources/images/addButton.svg")
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size:40px 40px;
  position relative
  height: 50px;
  width: 50px;
  border: none;
  zindex: 100;
  display block


.addButton
    width 30px
    margin-top 10px
    left 0
    zindex: -10;
