/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Montserrat|Oswald");
/*
 * Store the main color and
 * background color as variables
 */
.centerContainer {
  text-align: center;
}
/*  Main Player Style */
#mainPlayer {
  background-color: #5a5e6a;
  width: 90%;
  max-width: 1000px;
  min-width: 100px;
  height: 150px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-bottom: 3px solid #383b42;
  display: block;
  position: relative;
  padding: 0.5px;
  overflow: hidden;
}
.rightPlayer {
  margin-left: 150px;
}
.playerAlbum {
  height: 150px;
  position: absolute;
  left: 0px;
  display: inline;
  float: left;
}
/*  Queue Song Style */
.songContainer {
  background-color: #5a5e6a;
  width: 80%;
  min-width: 345px;
  height: 50px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-bottom: 3px solid #383b42;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  position: relative;
}
.queueNumber {
  background-color: #383b42;
  height: 50px;
  width: 50px;
  color: #e5e8ef;
  text-align: center;
  line-height: 50px;
  display: inline;
  float: left;
}
.queueAlbum {
  height: 50px;
  display: inline;
  float: left;
}
.upVotes {
  display: inline;
  float: left;
  font-size: 25px;
  margin: 12.5px 8.333333333333334px 12.5px 16.666666666666668px;
}
.thumbUp {
  height: 40px;
  margin: 5px;
  display: inline;
  float: left;
}
.songTitle {
  font-size: 20px;
  margin: 15px 16.666666666666668px;
  display: inline-block;
  float: left;
}
.thumbDown {
  height: 40px;
  margin: 5px;
  display: inline;
  float: right;
}
.deleteButton {
  height: 40px;
  margin: 5px;
  margin-left: 20px;
  display: inline;
  float: right;
}
.downVotes {
  display: inline;
  float: right;
  font-size: 25px;
  margin: 12.5px 16.666666666666668px 12.5px 8.333333333333334px;
}
.twitter-typeahead {
  position: absolute;
  width: 80%;
  text-align: center;
}
.newSong {
  position: absolute;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  left: inherit;
}
.rightPlayer > p {
  color: #e5e8ef;
  margin: 20px;
}
.tt-dropdown-menu {
  margin-left: auto;
  margin-right: auto;
}
.tt-dropdown-menu > .songContainer {
  margin-right: none;
  margin-left: none;
}
.addSong {
  height: 100%;
}
.songTitleDiv {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
}
.addSong {
  background: #383b42;
  background-image: url("/resources/images/addButton.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  background-size: 40px 40px;
  position: relative;
  height: 50px;
  width: 50px;
  border: none;
  zindex: 100;
}
.addButton {
  width: 30px;
  margin-top: 10px;
  left: 0;
  zindex: -10;
}
