/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Montserrat|Oswald')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
light-back-color = #818590
mid-back-color = #5a5e6a
dark-back-color = #383b42
main-red = #de6143
main-white = #e5e8ef


body
    font-family 'Oswald'
    background-color light-back-color
    color dark-back-color
    text-align center

.navbar
    padding 0px 15%
    font-size 20px
    background-color mid-back-color
    height 50px
    overflow visible
    color main-white
    margin-bottom 20px
    // border-bottom:3px solid dark-back-color;

#brand
    float left
    padding 10px
    background-color main-red
    top 0px
    display inline
    color main-white
    width 100px
    height 30px
    text-align center
    font-size 24px

#brand > p
    display inline

#brand-party
    color darken(main-red, 50%)
    display inline

.divider
    background-color dark-back-color
    width 3px
    top 10px
    height 30px
    display inline
    margin 0px
    position absolute

.nav-user
    float right
    display inline
    line-height 45px

.nav-user > a
    margin 20px

a
    color main-white
    text-decoration none

.flat-button
    margin-top: 10px;
    margin-right: 10px;
    padding: 14px 26px;
    font-size: 26px;
    line-height: 100%;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    color: #fff;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;


.flat-button:active
    padding-top: 15px;
    margin-bottom: -1px;

.flat-button, .flat-button:hover, .flat-button:active
    outline: 0 none;
    text-decoration: none;
    color: #fff;

.flat-button-1
    height: 70px;
    width: 15%;
    margin 10px
    min-width: 125px;
    background-color: #ef634c;
    box-shadow: 0px 3px 0px 0px #ce503a;
    padding: 5px;

.flat-button-1:hover
    background-color: #eb5137;

.flat-button-1:active
    box-shadow: 0px 1px 0px 0px #ce503a;
    position relative
    top -5px
    line-height 50px
    padding-top 5px

#partyID
    height 60px
    width 30%

.flat-button-2
    height: 70px;
    width: 35%;
    margin 10px
    color #393c43
    min-width: 300px;
    background-color: #5a5e6a;
    box-shadow: 0px 3px 0px 0px #393c43;
    padding: 5px;

.flat-button-2:hover
    background-color: #4b4e58;
    color: main-white

.flat-button-2:active
    box-shadow: 0px 1px 0px 0px #393c43;
    line-height 50px
    top 4px
    margin-bottom 10px

.flat-button-3
    height: 70px;
    width: 15%;
    margin 10px
    min-width: 125px;
    background-color: #ef634c;
    box-shadow: 0px 3px 0px 0px #ce503a;
    padding: 5px;

.flat-button-3:hover
    background-color: #eb5137;

.flat-button-3:active
    box-shadow: 0px 1px 0px 0px #ce503a;
    position relative
    line-height 50px
    top 2px
    padding-top 5px

.adminBtn
    height 70px
    margin 10px
    margin-top 30px

img.pauseButton
  content url("/resources/images/pauseButton.svg")

img.playButton
  content url("/resources/images/playButton.svg")

.landingBrand
    font-size 78px
    color main-white
    margin 40px
    margin-top 10%

.landingBrand p
    display inline

#landingParty
    color mid-back-color
    display inline

.bottom
    bottom 0px
    position fixed
    width 100%
    padding-bottom 15px
    padding-top 15px

.italic
    font-style italic
    display inline
    color main-white
    margin 5px

.landingTagline
    margin-top 10%

.landingTagline > p
    display inline
    font-size 48px

#foundParty
    padding 20px

#popup
    background-color mid-back-color
    height 60%
    width 80%
    margin 6%

#popup > h1
    color main-white

#popup > label
    float right

#popup > input
    float right