extends layout

block styleSheets
  link(rel='stylesheet', href='/stylesheets/joinParty.css')

block pageScripts
  script(src="/js/joinParty.js")


block content
  div#holder
    h1
    div#foundParty
    br
    div.joinFound
      form
        input#partyID(type='text')
        button#submitBtn1.flat-button.flat-button-3(type="button", onclick="") Submit