extends layout

block styleSheets
	link(rel='stylesheet', href='/stylesheets/makeParty.css')

block pageScripts
	script(src="/js/contentCollapser.js")
	script(src="/js/makeparty.js")

block content
	div#contentCollapser
		div.unitGuy
			h2 
				span Party Info
			div.collContent
				div.infoBlock
					label.infoLabel Party Name:
					input.infoForm#partyName(type="text")
				div.infoBlock
					label.infoLabel Street Address:
					input.infoForm#streetAddr(type="text")
				div.infoBlock
					label.infoLabel Zip Code:
					input.infoForm#zipCode(type="text")
				div.infoBlock
					label.infoLabel Date:
					input.infoForm#date(type="date")
				div.infoBlock
					label.infoLabel Start Time:
					input.infoForm#startTime(type="time")
				div.infoBlock
					label.infoLabel End Time:
					input.infoForm#endTime(type="time")

		div.unitGuy
			h2 
				span Invite People
			div.collContent
				div.infoBlock
					label.infoLabel By Email:
					input.infoForm#partyName(type="text")
		a(href="/hub")
			button#submitBtn1.flat-button.flat-button-1(type="button", onclick="") Submit